
.mb{
  margin-bottom: 1.30rem;
}
.shopdedatils{
  padding: 0.22rem;
  position: relative;
  text-align: left;
  background: white;
  img{
    display: block;
    margin: auto;
  }
  .title{
    font-size: .35rem;
    margin-top:.22rem;

  }
  .des{
    margin:.1rem 0 .22rem;
    font-size: .27rem;
    color:#999;
  }
  .money{

    color: red;
    .symbol{
      margin-right:.03rem;
      font-size: 0.32rem;

    }
    .price{
      font-size: 0.32rem;
    }
  }
  .courier{
    font-size: 0.25rem;
    color: #999;
  }
  .buyNum{
    border: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;

    padding: 0.20rem;
    .buyfont{
      font-size: 0.40rem;
    }
    .addNum{
      font-size: 0.40rem;
      a{
        width: 0.60rem;
        height: 0.60rem;
        margin:0 .04rem;
        background: #f1f1f1;
        display: inline-block;
        color: #878787;
        text-align: center;
      }
      a:active{
        background: #ddd;
      }
    }
  }
  .buy{
    width: calc(100% - .44rem);
    position: fixed;
    bottom: 0;
    display: flex;
    height: 0.96rem;
    text-align: center;
    line-height: 0.96rem;
    a{
      flex: 1;
      color: white;
      font-size: 0.31rem;
    }
    .addCart{
      background: #ff9402;
    }
    .nowBuy{
      background: #ff5000;
    }
  }
}