html {
    font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color: #333;
    user-select: none;
    font-size: 13.33333vw;

    /*
    100vw 屏幕宽
      设备屏幕也要分成7.5等分
      每一个等分是 100/7.5 = 13.33333             //10000/750(设计图) = 13.3333vw
    750px 设计图
      把设计图分成 7.5等份 每一份是100px
      把100px作为一个单位换算


  */

}
.enFont {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {
    background-color: #fff;
    font-size: 12px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    vertical-align: top;
}
ul{
    list-style: none;
}
ol,ul,dl{
    margin: 0 !important;
}

