.mb{
  margin-bottom: 1.30rem;
}
.shopcart{
  min-height: 100vh;
}
.shopArea{
  text-align: left;
  background: #fff;

  .location{
    font-size: 0.32rem;
    color: #ccc;
    padding: 0.10rem;
    padding: 0.20rem 0.55rem;
  }
  .shop{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 0 0.55rem;
    .shopShow{
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      padding: 0.25rem 0;
      .pic{
        width: 2rem;
        height: 2rem;
      }
      .des{
        width: 4rem;
        font-size: 0.35rem;
      }
    }

    .buyNum{
      border-top: 1px solid #ddd;
      border-left: none;
      border-right: none;
      padding: 0.20rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .buyfont{
        font-size: 0.40rem;
      }
      .addNum{
        font-size: 0.40rem;
        a{
          width: 0.60rem;
          height: 0.60rem;
          background: #f1f1f1;
          display: inline-block;
          color: #878787;
          text-align: center;
        }
        a:active{
          background: #ddd;
        }
      }
      .del{
        color: skyblue;
        font-size: 0.40rem;
      }
    }
  }

  .totalPrice{
    height: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0.20rem;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 -1px 2px #d7d7d7;
    /*align-items: center;*/
    .all{

      color: #999;
      font-size: 0.20rem;
      i{
        width: 0.40rem;
        height: 0.40rem;
        border-radius: 50%;
        background: #e93b3d;
      }
      i::after{
        content: '';
      }
    }
    .total{
      text-align: left;
      text-indent: 1em;
      p{
        height: 50%;
        font-size: 0.32rem ;
        line-height: 0.50rem;
        color: #999;
      }
      .totalMoney{
        color: #e4393c;
        font-weight: bold;
        .font{
          color: #333;
        }
      }
      .preferential{
        font-size: 0.18rem;
      }
    }
    .goPayment{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 2.20rem;
      /* height: .6rem; */
      background: #e4393c;
      color: #fff;
      span{
        vertical-align: middle;
      }
      .font{
        font-size: 0.32rem;
      }
      .num{
        font-size: 0.23rem;
      }

    }
  }
}